@font-face {
    font-family: Merriweather;
    src: url(Merriweather-Regular.ttf);
}

* {
    font-family: Merriweather, Times, serif;
}

html {
    background: #000;
}

body {
    text-align: center;
    background: linear-gradient(rgb(80, 80, 80), rgb(175, 175, 175), rgb(80, 80, 80));
    font-size: 100%;
    padding: 1rem;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

summary {
    font-size: 1.5em;
}

ul {
    display: inline-block;
    margin: auto;
    list-style-type: '>  ';
}

ul > li {
    width: fit-content;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #666;
}

a:active {
    color: #900;
}

/* custom */
.normal-weight {
    font-weight: normal;
}

.info-box {
    margin-bottom: 1.245rem;
}

.info-box > h3 {
    margin-block-end: 0.5em;
}

.cert {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.5rem;
    border: 2px inset;
    font-size: smaller;
    text-align: left;
    height: auto;
    width: auto;
    max-width: 100%;
}

    .cert img {
        height: auto;
        width: 100%;
        max-width: 100px;
        max-width: 15vmin;
    }

/* slideshow */
.slideshow {
    display: inline-flex;
    overflow-x: auto;
    border: 2px solid #666; /*outset ?*/
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: min-content;
    max-height: 90vh;
    width: min-content;
    max-width: 50vw;
}

    .slideshow > div {
        flex-shrink: 0;
        height: auto;
        width: 100%;
        scroll-snap-align: start;
    }

.slide-link {
    display: inline-block;
    text-decoration: none;
    background-color: #bbb;
    border: thin solid #bbb; /*todo: decide style*/
    border-radius: 50%;
    margin: 0.25rem;
    height: auto;
    width: 1rem;
}
