@font-face {
    font-family: Merriweather;
    src: url(Merriweather-Regular.ttf);
}

* {
    font-family: Merriweather;
}

html {
    background: #000;
}

body {
    text-align: center;
    background: linear-gradient(rgb(64, 64, 64), rgb(191, 191, 191), rgb(64, 64, 64));
    font-size: 100%;
    padding: 1rem;
}

nav > ul {
    display: inline-block;
	margin: auto;
    list-style-type: '> ';
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #666;
}

a:active {
    color: #900;
}

/* custom */
.normal-weight {
    font-weight: normal;
}

.cert {
    display: inline-block;
    padding: 0.5rem;
    border: 2px inset;
    font-size: smaller;
    text-align: left;
    height: auto;
    max-width: 16rem;
}

    .cert img {
        height: auto;
        width: 100%;
        max-width: 100px;
    }

/* switch */
.switch {
    margin-inline: auto;
    position: relative;
    display: block;
    width: 3.75rem;
    height: 2.125rem;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 2.125rem;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 1.625rem;
        width: 1.625rem;
        left: 0.25rem;
        bottom: 0.25rem;
        background-color: white;
        border-radius: 50%;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(1.625rem);
}
