
body {
    font-size: 100%;
}

details > p {
    margin-top: 0.5rem;
    margin-bottom: auto;
}

/*#menu*/
h3, h4 {
    margin-bottom: 0.5rem;
}

#menu {
    text-align: center;
    height: auto;
    width: auto;
    max-width: 100%;
}

#menu > ul {
    list-style-type: none;
    padding: initial;
    margin: auto;
}

#menu > ul > li {
    display: block;
    white-space: nowrap;
    margin: 0.5rem;
}

#menu input {
    vertical-align: middle;
    max-width: 100%;
}

#x-size::after, #y-size::after {
    content: attr(value);
    position: relative;
    left: 1rem;
}

#cbl-wrap {
    max-width: fit-content;
}

#names-wrap {
    display: flex;
    justify-content: space-around;
}

#first-name::after, #second-name::after {
    margin-left: 1rem;
    content: attr(score);
}

#reset {
    display: none;
    margin: 0.5rem auto;
}
