
body {
    font-size: 100%;
}

#menu {
    text-align: center;
    height: auto;
    width: auto;
    max-width: 100%;
}

#menu > ul {
    list-style-type: none;
    padding: initial;
    margin: auto;
}

#menu > ul > li {
    display: block;
    margin: 0.5rem;
}

#menu input {
    vertical-align: middle;
}

/*#menu*/
h1, h3, h4 {
    margin: auto;
}

#x-size::after, #y-size::after {
    content: attr(value);
    position: relative;
    left: 1rem;
}

#reset {
    display: none;
    margin: 0.5rem auto;
}
